body {
	background-color: steelblue;
}
.container {
	background-color: white;
}
.donate {
	margin: 30px;
}

#header {
	margin: 20px;
}

.stripe {
	background-color: steelblue;
	padding: 4px;
	text-align: center;

}

.bottom {
	margin: 5px;
	background-color: steelblue;
	padding: 4px;
	text-align: center;
}

iframe {
	margin-left: 20px;
}

#navigate{
	border:none;
	background:none;
	outline:none;
	margin-right: 20px;
	color:white;

}

.mission {
	margin: top10px;
}