body {
	background-color: steelblue;
}
.container {
	background-color: white;
}
.donate {
	margin: 30px;
}

#header {
	margin: 20px;
}

.stripe {
	background-color: steelblue;
	padding: 4px;
	text-align: center;

}

.bottom {
	margin-top: 20px;
	background-color: steelblue;
	padding: 4px;
	text-align: center;
}


}

#history {
	margin-left: 20px;
}

#navigate{
	border:none;
	background:none;
	outline:none;
	margin-right: 20px;
	color:white;

}

h5 {
	color:white;
}

.email {
	color:white;
}

iframe, img {
	box-shadow: 10px 10px 5px #888888;
}
.social {
	margin-right: 10px;
	margin-left: 10px;
	
	font-size: 48px;
	color:white;
	
}

.mission {
	margin: top10px;
}